@font-face {
    font-family: 'Canada'; /* Nombre que le darás a la fuente */
    src: url('./assets/Canada.otf') format('truetype'); /* Ajusta la ruta según donde hayas guardado la fuente */
    font-weight: normal; /* Ajusta según el peso de la fuente */
    font-style: normal; /* Ajusta según el estilo de la fuente */
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #3C3C3C;

}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 


option:focus,
textarea:focus, 
button:focus {
    outline: none;
    border: 2px solid #5F288F;
    box-shadow: 0 0 8px rgba(95, 40, 143, 0.5);
}




.logo {
    max-height: 100px;
    position: absolute;
    top: 0px;
    padding-left: 20px;
}

#logo-s {
    display: none;
}

h1 {
    font-size: 25px;
}

.main-container {
    display: flex;
    flex: 1;
    background-color: #F4F4F9;
}

.left-section {
    flex: 2;
}

.right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 100%;
    padding: 20px;
}

form label {
    font-family: 'Canada', sans-serif;
}



.left-section img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

a.logout-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #5F288F;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-family: 'Canada', sans-serif;
}



a.logout-button:hover {
    background-color: #14c532;
}

.btn-primary {
    background-color: #5F288F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Canada', sans-serif;
}

.btn-primary:hover {
    background-color: #14c532;
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;
    }

    .left-section img {
        height: 50vh;
        filter: brightness(0.7);
    }

    #logo-l {
        display: none;
    }

    #logo-s {
        display: block;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-section img {
        height: 40vh;
        filter: brightness(0.7);
    }

    #logo-l {
        display: none;
    }

    #logo-s {
        display: block;
    }

    .main-container button {
        text-align: center;
        align-items: center;
    }
}

/* cambio de formulario aqui se puede hacer animacion tmb xd */
.hidden {
    display: none;
}

.form-container {
    transition: all 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateX(50px);
}

.form-container:not(.hidden) {
    opacity: 1;
    transform: translateX(0);
}

.toggle-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

