body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('img/retiro-background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -2; 
}

body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1; 
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 500px;
    width: 100%;
    position: relative;
}

.form-range {
    fill: #601270;
}

.btn-custom, .btn-primary {
    background-color: #6e3667;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.btn-custom:hover, .btn-primary:hover {
    background-color: #14c532;
    color: white;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.saludo {
    color: white; 
    font-size: 24px;    
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 1;
}

/*Barra*/

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #6e3667; 
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active{
    transform: scale(1.2);
    background-color: #c99fc3; 
}

@media (max-width: 1000px) {
    .header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .navbar a {
        margin: 0px 20px;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background-color: #601270;
        flex-direction: column;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .navbar a {
        margin: 12px 0;
        padding: 0 25px;
    }

    .navbar a:hover {
        color: royalblue;
        border-color:royalblue ;
        transform: translateY(5px);
    }

    .navbar.open {
        right: 2%;
    }
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .text-content {
        top: 50%; /* Ajusta la posición del texto */
        left: 3%;
        width: 50%; /* Expande el ancho del texto */
    }

    .text-content h2 {
        font-size: 1.5rem; /* Disminuye el tamaño del título */
    }

    .text-content p {
        font-size: 1rem; /* Disminuye el tamaño del párrafo */
    }

    .img-content {
        width: 100%; /* La imagen ocupa todo el ancho */
    }

    .img-content img {
        width: 50%; /* Ajusta el tamaño de la imagen */
    }
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
    .text-content {
        top: 40%; /* Posición más centrada para pantallas pequeñas */
        left: 2%;
        width: 50%; /* Ancho más amplio del texto */
    }

    .text-content h2 {
        font-size: 1.25rem; /* Disminuye el tamaño del título */
    }

    .text-content p {
        font-size: 0.875rem; /* Ajusta el tamaño del párrafo */
    }

    .img-content img {
        width: 60%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }

    .saludo {
        top: 15%;
    }

    .container {
        max-width: 300px;
    }

    .container h2, button{
        text-align: center;
        align-items: center;
    }
    
}