@font-face {
    font-family: 'Canada';
    src: url('./assets/Canada.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #F4F4F9;
}

h1, h2 {
    font-family: 'Canada', sans-serif;
}

form {
    padding-top: 70px;
}

form label {
    font-family: 'Canada', sans-serif;
}

.input-group .form-control {
    max-width: 100px;
}

.logo {
    max-height: 100px;
    margin-left: auto;
}

.main-container {
    display: flex;
    flex: 1;
    background-color: #2C1A47; 
}

.right-section {
    flex: 2;
}

.right-section img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.left-section {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.saludo {
    font-size: 20px;
    padding-left: 20px;
}

a.logout-button {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #5F288F;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-family: 'Canada', sans-serif;
    padding: 10px 20px;
}

a.logout-button:hover {
    background-color: #14c532;
}

.btn-primary {
    background-color: #14c532;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Canada', sans-serif;
}

.btn-primary:hover {
    background-color: #FFC857;
}

/* Barra de rango */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #9b6594;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
    background-color: #c99fc3;
}

@media (max-width: 1000px) {
    .main-container {
        flex-direction: column;
    }

    form {
        padding: 0;
    }

    .logo {
        padding-top: 20px;
    }

    .right-section img {
        height: 80vh;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .right-section img {
        height: 40vh;
    }
}
