/* Reset básico */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primario: #5F288F;
    --color-secundario: #63C639;
    --color-complementario: #88D317;
    --color-neutro-oscuro: #333333;
    --color-neutro-claro: #F5F5F5;
}



/* Tipografía */
body {
    font-family: "Radio Canada", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--color-neutro-claro);
    margin: 0;
    overflow-x: hidden;
}

.morado{
    color: #56257e;
}
.verde{
    color: var(--color-secundario);
}

.negro{
    color: var(--color-neutro-oscuro);
}
.separador{
    border: 3px solid var(--color-secundario);
    width: 100px;
    margin: 10px auto;
    
}

.background-container {
    background-image: url('img/ModularTex-fondo-morad.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Listas */
ul, ol, li {
    list-style: none;
    padding-left: 0;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Botones */
button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Formularios */
input, button, textarea, select {
    font: inherit;
}

/* ANIMACIONES */
@keyframes  slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes  slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes  slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes  slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes  slideSci {
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut{
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rhombus2{
    0% {
        right: -40%;
        opacity: 0;
    }
    100%{
        right: -25%;
        opacity: 1;
    }
}

/* Estilos generales del header */
.header {
    position: relative;
    width: 100%;    
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 10vh; /* Elimina la altura fija */
}

.logo{
    margin-top: 10px;
    margin-left: 5%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.logo img {
    width: 250px;

}
.header h1{
    padding-left: 18%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}


.navbar a:hover{
    color: var(--color-secundario);
    border-color:var(--color-secundario) ;

}


.ocultar{
    visibility: hidden;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.1s;
    color: var(--color-neutro-claro);

}

.main a:hover {
    color: var(--color-secundario);
    border-color:var(--color-secundario) ;
}

#menu-icon {
    font-size: 50px;
    color: #383737;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1000px) {
    .header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 50px;
    }
    .ocultar{
        visibility: visible;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background-color: var(--color-primario);
        flex-direction: column;
        border-radius: 10px;
        transition: all 0.5s ease;
    }
    .main .user{
        visibility: hidden;
    }


    .navbar a {
        margin: 12px 0;
        padding: 0 25px;
        color: var(--color-neutro-claro);
    }

    .navbar a:hover {
        color: var(--color-secundario);
        border-color: var(--color-secundario);
        transform: translateY(5px);
    }

    .navbar.open {
        right: 2%;
    }

    /* Ajuste para el menú del usuario */

}

   



/*Container*/


/* Configuración general */
.container {
    position: relative;
    max-width: 100%;
    height: 90vh;
}

/* Texto */
.text-content {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 40%;
    color: var(--color-neutro-claro);
}

.text-content h1 {
    font-size: 2rem;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.text-content p {
    font-size: 1.125rem;
    color: var(--color-neutro-claro);
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.2s;
}
.card-button-home {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #3f8d23;
    border-radius: 0.375rem;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.3s;
}

.card-button-home:hover {
    background-color: #326c1f;
}

.card-button-home:focus {
    outline: none;
}

.card-button-home:hover .arrow-icon {
    transform: rotate(180deg);
}


/* Imagen */
.img-content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.img-content img {
    width: 80%;
    position: absolute;
    bottom: 0px;
    right: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.1s;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .text-content {
        top: 50%; /* Ajusta la posición del texto */
        left: 3%;
        width: 50%; /* Expande el ancho del texto */
    }
    #menu-icon {
    font-size: 50px;
    color: var(--color-primario);
    cursor: pointer;
    z-index: 10001;
    }

    .text-content h2 {
        font-size: 1.5rem; /* Disminuye el tamaño del título */
    }

    .text-content p {
        font-size: 1rem; /* Disminuye el tamaño del párrafo */
    }

    .img-content {
        width: 100%; /* La imagen ocupa todo el ancho */
    }

    .img-content img {
        width: 56%; /* Ajusta el tamaño de la imagen */
    }
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
    .text-content {
        top: 40%; /* Posición más centrada para pantallas pequeñas */
        left: 2%;
        width: 50%; /* Ancho más amplio del texto */
    }

    .text-content h2 {
        font-size: 1.25rem; /* Disminuye el tamaño del título */
    }

    .text-content p {
        font-size: 0.875rem; /* Ajusta el tamaño del párrafo */
    }

    .img-content img {
        width: 70%; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }
}





/*SLIDE NOSOTROS Y HISTORIA*/

/* Estructura del contenedor */
.contenedor {
    position: absolute;
    width: 80%;
    height: 400px;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(100px); /* Cambiado para animación vertical */
    animation: none; /* Por defecto sin animación */
}

/* Al estar visible */
.contenedor--visible {
    animation: slideTop 0.5s ease-in-out forwards;
    position: relative; /* Vuelve al flujo del documento después de la animación */
}

/* Mantén los demás estilos igual */
.contenedor__slide {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.contenedor__slide--activo {
    left: 0;
    opacity: 1;
    visibility: visible;
}

  .contenedor__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  .contenedor__texto {
    flex: 1;
    padding: 20px;
    margin-top: 40px;
    text-align: justify;
  }
  
  .contenedor__titulo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contenedor__descripcion {
    font-size: 16px;
    color: #555;
  }
  
  /* Navegación por puntitos */
.contenedor__navegacion {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
  
  .contenedor__punto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-secundario);
    cursor: pointer;
  }
  
  .contenedor__punto--activo {
    background-color: #333;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .contenedor{
        height: 650px;
    }
    .contenedor__slide {
      flex-direction: column;
    }
  
    .contenedor__imagen img {
      width: 100%;
      height: 350px;
    }
  }

  @media (max-width: 480px){
    .contenedor{
        height: 700px;
    }
    .contenedor__slide {
        flex-direction: column;
        height: auto;
      }
    
      .contenedor__imagen img {
        width: 100%;
        height: 200px;
      }

      .contenedor__texto {
        flex: 1;
        padding: 15px;
      }
      
      .contenedor__titulo {
        font-size: 20px;
        margin-bottom: 10px;
      }
      
      .contenedor__descripcion {
        font-size: 15px;
        color: #555;
      }
    }

/*Vision - Mision*/

.mision-vision {
    margin-top: 300px;
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap; /* Permite que las tarjetas se distribuyan en varias filas en pantallas pequeñas */

}

.card {
    max-width: 24rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegura que las tarjetas ocupen todo el ancho en pantallas pequeñas */
    margin: 10px;
    height: 600px;
}

.card--derecha {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  
  .card--izquierda {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
  }
  
  /* Clase para activar la animación */
  .card--visible {
    opacity: 1;
    transform: translateX(0);
  }


.card-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;

}


.card-img-mision{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 50%;
    height: 150px;
    padding-top: 20px;
    margin: 0 auto;
}
.mision-vision-contenedor{
    width: 100%;
    height: 300px;

}
/* Estilo para el botón deshabilitado */
button:disabled {
    background-color: #5f288f; /* Morado oscuro */
    color: #ffffff; /* Texto blanco para mejor contraste */
    cursor: not-allowed; /* Cambia el cursor para indicar que está deshabilitado */
    opacity: 0.7; /* Añade un efecto visual para destacar que está inactivo */
}


.card-content {
    padding: 1.25rem;
    text-align: center;
}

.card-title {
    margin-top: 50px;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.375;
    color: #1f2937;
}

.card-description {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #4b5563;
}


.card-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: var(--color-complementario);
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.card-button:hover {
    background-color: var(--color-primario);
}

.card-button:focus {
    outline: none;
}

.arrow-icon {
    width: 0.875rem;
    height: 0.875rem;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.card-button:hover .arrow-icon {
    transform: rotate(180deg);
}

/* Responsivo */
@media (max-width: 768px) {
    .mision-vision {
        gap: 50px; /* Reduce el espacio entre las tarjetas */
        flex-direction: column; /* Coloca las tarjetas en columna */
        padding: 20px;
    }

    .mision-vision-contenedor{
        height: 300px;
    }

    .card {
        width: 90%; /* Las tarjetas ocupan casi todo el ancho */
        height: auto;
    }

}


@media (max-width: 480px) {
    .mision-vision {
        gap: 30px; /* Ajusta el espaciado en pantallas más pequeñas */
        padding: 10px;
    }

    .card {
        width: 90%; /* Las tarjetas ocupan el 100% del ancho */
        height: auto;
    }

    .mision-vision-contenedor{
        height: 250px;
    }

    .card-title {
        font-size: 1.25rem; /* Ajusta el tamaño del título */
        margin-top:50px;
    }

    .card-description {
        font-size: 0.875rem; /* Ajusta el tamaño de la descripción */
    }
}









/*PROPOSITO*/

.pagina-proposito-texto {
    width: 80%;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 100px;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.pagina-proposito-texto--visible {
    opacity: 1;
    transform: scale(1);
}

.pagina-proposito-texto h4 {
    font-size: 60px; /* Ajusta el tamaño del título */
    color: #1f2937; /* Color del título */
}

.pagina-proposito-texto p {
    font-size: 20px; /* Tamaño de la fuente del párrafo */
    font-weight: 400;
    color: #6b7280; /* Color del texto */
    margin-top: 20px; /* Espacio entre el título y el texto */
}

.pagina-proposito-texto-hr {
    width: 20%;
    margin: 20px auto;
    border: none;
    border-top: 3px solid var(--color-complementario); /* Color y grosor de la línea */
}

.color-proposito {
    color: var(--color-neutro-oscuro); 
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .pagina-proposito-texto {
        margin-top: 200px;
        margin-bottom: 50px;
        font-size: 20px;
    }

    .pagina-proposito-texto h4 {
        font-size: 40px; /* Ajusta el tamaño del título para móviles */
    }

    .pagina-proposito-texto p {
        font-size: 16px; /* Ajusta el tamaño de la fuente del párrafo para móviles */
    }

    .pagina-proposito-texto-hr {
        width: 50%;
    }
}

/* Media queries para tabletas */
@media (max-width: 1024px) {
    .pagina-proposito-texto {
        margin-top: 250px;
        margin-bottom: 80px;
        font-size: 22px;
    }

    .pagina-proposito-texto h4 {
        font-size: 50px; /* Ajusta el tamaño del título para tabletas */
    }

    .pagina-proposito-texto p {
        font-size: 18px; /* Ajusta el tamaño de la fuente del párrafo para tabletas */
    }

    .pagina-proposito-texto-hr {
        width: 30%;
    }
}



/*TIME LINE*/
.items-center {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}



.item {
    margin-bottom: 24px;
    margin-left: 50px;
    opacity: 0;
    transform: translateX(-100%); /* Reduce el desplazamiento */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.item--visible {
    opacity: 1;
    transform: translateX(0);
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-container {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: greenyellow;
    border-radius: 50%;
}

.icon {
    width: 10px;
    height: 10px;
    color: #000000;

}

.line {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #e5e7eb;
}



.content {
    margin-top: 12px;
}


.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
}



.time {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #9ca3af;
}

.description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #6b7280;
}

/* Para tablets (max-width: 768px) */
@media (max-width: 768px) {
    .content {
        padding: 5px;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: #e5e7eb;
    }
    .title {
        font-size: 1rem; /* Ajustamos el tamaño de la fuente en tablets */
    }
    .description {
        font-size: 0.875rem; /* Ajuste en tamaño de texto para tablets */
    }
    .item {
        margin-bottom: 0;
        padding: 10px; /* Añade un padding para mejorar el espaciado en tablets */
        margin-left: 10px;

    }
    .items-center {
        flex-direction: row;
        gap: 20px; /* Añade un espacio entre los elementos para pantallas medianas */
    }
}

/* Para celulares (max-width: 480px) */
@media (max-width: 480px) {
    .line {
        width: 80%; /* Reducimos el ancho de la línea en pantallas pequeñas */
        
    }

    .content {
        padding-right: 20px; /* Reducimos el padding en pantallas pequeñas */
        text-align: center; /* Centramos el contenido en celulares */

    }
    .title {
        font-size: 20px; /* Aún más pequeño en celulares */

    }
    .time{
        font-size: 18px;
    }

    .description {
        font-size: 17px; /* Texto más pequeño en celulares */

    }
    .item {
        margin-bottom: 20px; /* Ajuste más pequeño en celulares */


    }
    .items-center {
        padding-top: 50px; /* Reducimos el espacio superior en pantallas más pequeñas */
        flex-direction: column;

    }

}


/*Contador */

/* Contenedor general de la sección */
.counter-section {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 200px auto;
    text-align: center;
    opacity: 0;
    transform:  scale(0.5); /* Deslizamiento desde la derecha y zoom out */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Clase de visibilidad con efecto de zoom y deslizamiento */
.counter-section--visible {
    opacity: 1;
    transform: translateX(0) scale(1); /* Deslizamiento a posición original y zoom in */
}

/* Título de la sección */
.section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

/* Contenedor de los contadores */
.counter-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; /* Para que los elementos se envuelvan en pantallas más pequeñas */
}

/* Estilo para cada contador */
.counter-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 150px; /* Para evitar que los elementos se vuelvan demasiado pequeños */
    margin-bottom: 20px;
}

/* Títulos de cada contador */
.counter-item h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/* Estilo para los números de los contadores */
.counter {
    font-size: 2rem; /* Tamaño del número */
    margin-left: 4px; /* Espacio entre el número y la unidad */

    font-weight: bold;
    color: var(--color-primario);
    display: inline-block;
}

.counter .unit {
    font-size: 1rem; /* Tamaño del texto "KG" o "CO₂" */
    font-weight: normal; /* Opcional para hacer menos prominente la unidad */
    margin-left: 4px; /* Espacio entre el número y la unidad */
    color: inherit; /* Respetar el color del número */
}


/* Responsivo para pantallas medianas (tablets) */
@media (max-width: 768px) {
    .counter-section {
        margin-top: 50px;
        padding: 20px;
    }

    .section-title {
        font-size: 2rem;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .counter-container {
        gap: 15px;
    }

    .counter-item {
        padding: 15px;
    }

    .counter-item h3 {
        font-size: 1.125rem;
    }

    .counter {
        font-size: 2rem;
    }
}

/* Responsivo para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .counter-section {
        padding: 15px;
    }

    .section-title {
        font-size: 1.75rem;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .counter-container {
        flex-direction: column; /* Los contadores se apilan en columnas */
        align-items: center;
    }

    .counter-item {
        max-width: 100%;
        padding: 10px;
    }

    .counter-item h3 {
        font-size: 1rem;
    }

    .counter {
        font-size: 1.5rem;
    }
}


/* Formulario de contacto */
.contact-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.contact-form label {
    color: black;
}

.contact-form .heading {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-primario);
}

.contact-form button[type="submit"] {
    background-color: var(--color-primario);
    width: 100%;
    margin: 1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--color-secundario);
    transition: transform 0.5s ease-in-out;
}

/* Estilos para la información de contacto */
.contact-info {
    margin-top: 40px;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #333;
    transition: color 0.3s;
}

.contact-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Color inicial del texto */
    transition: color 0.3s;
}

.contact-list li a:hover {
    color: var(--color-secundario); /* Cambia el color del texto al hacer hover */
}

.contact-list li a .icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    color: #5f288f; /* Color inicial del ícono */
    transition: color 0.3s;
}

.contact-list li a:hover .icon {
    color: var(--color-secundario); /* Cambia el color del ícono al hacer hover */
}

/* Estilos para las redes sociales */
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icon img {
    width: 32px;
    height: 32px;
}

.social-icon:hover {
    transform: scale(1.1);


}

.social-icon i {
    font-size: 22px;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .contact-form {
        padding: 15px;
    }

    .contact-form .heading {
        font-size: 20px;
    }

    .contact-list{
        flex-direction: column;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 14px;
        padding: 8px;
    }

    .contact-form button[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }

    .contact-info {
        margin-top: 30px;
    }

    .contact-list {
        gap: 15px;
    }

    .contact-list li {
        font-size: 1rem;
    }

    .social-icon img {
        width: 28px;
        height: 28px;
    }
}
/*alerta*/
.alert {
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Media queries para tabletas */
@media (max-width: 1024px) {
    .contact-form {
        padding: 18px;
    }

    .contact-form .heading {
        font-size: 22px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 16px;
        padding: 10px;
    }

    .contact-form button[type="submit"] {
        padding: 12px;
        font-size: 15px;
    }

    .contact-info {
        margin-top: 35px;
    }

    .contact-list {
        gap: 18px;
    }

    .contact-list li {
        font-size: 1.05rem;
    }

    .social-icon img {
        width: 30px;
        height: 30px;
    }
}





/* Footer */
.footer-area {
    margin-top: 100px;
    padding: 30px 0;
    color: #ffffff;
    position: relative;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="%235F288F"><path d="M0 1v99c134.3 0 153.7-99 296-99H0Z" opacity=".5"></path><path d="M1000 4v86C833.3 90 833.3 3.6 666.7 3.6S500 90 333.3 90 166.7 4 0 4h1000Z" opacity=".5"></path><path d="M617 1v86C372 119 384 1 196 1h421Z" opacity=".5"></path><path d="M1000 0H0v52C62.5 28 125 4 250 4c250 0 250 96 500 96 125 0 187.5-24 250-48V0Z"></path></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-footer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.single-footer {
    width: 100%;
    max-width: 230px;
    margin-bottom: 20px;
}

.single-footer img {
    width: 200px;
}

.single-footer:first-child {
    width: 100%;
    max-width: 400px;
}

.single-footer ul {
    margin-top: 35px;
    list-style: none;
}

.single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.single-footer a {
    font-size: 15px;
    text-decoration: none;
}

.single-footer a:hover {
    color: var(--color-secundario);
    border-color:  var(--color-secundario);
}

.single-footer ul li a {
    color: #fff;
}

.single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #ffffff;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    color: #ffffff; /* Color inicial del enlace y el ícono */
    border: 1px solid #ffffff;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: color 0.3s, border-color 0.3s;
}

.footer-social a:hover {
    border-color: var(--color-secundario); /* Cambia el color del borde */
}

.footer-social a i {
    color: #ffffff; /* Color inicial del ícono */
    transition: color 0.3s; /* Animación suave del cambio de color */
}

.footer-social a:hover i {
    color: var(--color-secundario); /* Cambia el color del ícono al hacer hover */
}


.copy {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .single-footer {
        max-width: 90%;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .single-footer img:first-child {
        margin: 0 auto;
    }

    .single-footer h4 {
        text-align: center;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .single-footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .single-footer ul li {
        text-align: center;
        margin-bottom: 10px;
    }
}


/* Estilos adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
    .single-footer img {
        width: 150px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
    }

    .single-footer ul li {
        padding-left: 20px; /* Elimina el padding en listas para pantallas más pequeñas */
    }
    
}






/*Login*/

.iniciar-sesion{
    width: 100%;
    height: 100vh;
    display: flex;

}

.foto{
    width: 60%;
    height: 100vh;
    background-color: red;
}

.foto img{
    width: 100%;
    height: 100%;
}



/*PONE EL CSS DEL FORMULARIO AQUÍ*/

/* Contenedor general de la sección de contacto */
/* Contenedor general de la sección de contacto */
.cont2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform:  scale(0.5); /* Deslizamiento desde la derecha y zoom out */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}





.cont2--visible {
    opacity: 1;
    transform: translateX(0) scale(1);
}

/* Encabezado y descripción */
.cont2 h2 {
    font-size: 28px;
    color: #333;
    font-weight: 600;
}
.cont2 .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Contenedor principal de SweetAlert2 */
.swal2-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999 !important;
}

/* Popup de SweetAlert2 */
.swal2-popup {
    width: 90% !important; /* Ancho relativo para dispositivos pequeños */
    max-width: 500px !important; /* Máximo ancho para dispositivos más grandes */
    max-height: 80% !important; /* Máxima altura para evitar overflow en dispositivos pequeños */
    overflow: auto !important; /* Permitir desplazamiento si es necesario */
    padding: 20px !important;
    margin: 0 auto !important;
    box-sizing: border-box !important; /* Asegura que el padding esté incluido en el ancho */
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .swal2-popup {
        padding: 10px !important; /* Reducir padding en dispositivos pequeños */
        font-size: 14px !important; /* Ajustar tamaño de fuente en dispositivos pequeños */
    }
}

/* Estilos para los botones de SweetAlert2 */
.swal2-confirm,
.swal2-cancel,
.swal2-deny {
    background-color: #5F288F !important; /* Color de fondo */
    color: white !important; /* Color del texto */
    border: none !important; /* Sin borde */
    border-radius: 5px !important; /* Borde redondeado */
    padding: 10px 20px !important; /* Espaciado interno */
    font-family: 'Canada', sans-serif !important; /* Fuente */
    font-size: 16px !important; /* Tamaño de fuente */
    margin: 5px !important; /* Margen entre botones */
    box-sizing: border-box !important; /* Asegura que el padding esté incluido en el ancho */
}

/* Estilo de los botones al pasar el ratón */
.swal2-confirm:hover,
.swal2-deny:hover {
    background-color: #14c532 !important; /* Color de fondo al pasar el ratón */
}

.swal2-cancel:hover {
    background-color: darkgray !important; /* Color de fondo al pasar el ratón */
}

